
body{
    background: #cccc; 
    padding-top: 0px;
}


.wrapper{
    background: #ffffff;
    margin-bottom: 20px;
    padding: 0 0 0 0;
}

.form-control:focus{
    border-color: grey
    
}


#title{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3em;
}

#current-trains td, th{
    text-align: center;
    
}

#add-train-btn{
    background-color: rgba(30, 64, 114, 0.9); 
    color: white;
    border: none;
}