
body{
    background: #cccc; 
   
}

.header{
    padding-top:0;
}

.wrapper{
    background: #ffffff;
    border-radius: 0;
    padding: 0 0 0 0 ;
    margin-bottom: 20px;
    margin-top: 0px !important;
}

.form-control:focus{
    border-color: grey
    
}


#title{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3em;
}

#current-trains td, th{
    text-align: center;
    
}

#add-train-btn{
    background-color: rgba(30, 64, 114, 0.9); 
    color: white;
    border: none;
}