body{
    background: #cccc; 
    padding-top:0
}

.header{
    padding-top:0;
}

.wrapper{
    background: #ffffff;
    border-radius: 0;
}


#title{
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 3em;
}